<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CommentMapper">
    <resultMap id="comment_user" type="Comment" autoMapping="true">
        <id column="comment_id" property="commentId"/>
        <collection property="user" ofType="User" autoMapping="true">
            <id column="user_id" property="userId"/>
        </collection>
        <collection property="replyComment" ofType="Comment" autoMapping="true">
            <id column="comment_id" property="commentId"/>
        </collection>
    </resultMap>
    <select id="getAllCommentAndUserByPostId" resultMap="comment_user">
        select * from comment a
              left join comment b
                    on a.comment_id = b.reply_id
              left join user c
                     on a.user_id = c.user_id
              left join user d
                     on b.user_id = d.user_id
        where a.post_id = #{postId};
    </select>
    <insert id="insertNewComment" parameterType="Comment">
        insert into comment values (
            null,
            #{comment.replyComment.commentId},
            #{comment.postId},
            #{comment.user.userId},
            #{comment.context},
            #{comment.commentTime}
        )
    </insert>
</mapper>