<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.PostMapper">
    <resultMap id="post_user_topic" type="Post" autoMapping="true">
        <id column="post_id" property="postId"/>
        <collection property="author" ofType="User" autoMapping="true">
            <id column="user_id" property="userId"/>
        </collection>
        <collection property="postTopic" ofType="Topic" autoMapping="true">
            <id column="topic_id" property="topicId"/>
        </collection>
    </resultMap>
    <select id="getAllPost" resultMap="post_user_topic">
        select * from post,user,topic where post.topic_id = topic.topic_id and post.user_id = user.user_id
    </select>

    <resultMap id="post_user" type="Post" autoMapping="true">
        <id column="post_id" property="postId"/>
        <collection property="author" ofType="User" autoMapping="true">
            <id column="user_id" property="userId"/>
        </collection>
    </resultMap>
    <select id="getAllPostByTopicId" resultMap="post_user">
        select * from post, user
            where post.topic_id = #{topicId} and
                  post.user_id = user.user_id
    </select>
</mapper>